{
    "extends": "mysticatea/es5",
    "plugins": [
        "node"
    ],
    "env": {
        "node": true
    },
    "globals": {
        "document": false,
        "navigator": false,
        "window": false,
        "CustomEvent": false
    },
    "rules": {
        "no-param-reassign": [2, {"props": false}],
        "node/no-missing-require": 2,
        "node/shebang": 2
    }
}
